{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}
    {{ form.media }}
{% endblock page_title %}

{% block extra_css %}
	{{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock extra_css %}

{% block content %}
    <div class="uk-flex uk-flex-left">
        <a class="uk-button btn-back" href="{% url 'website_horatrabalhada_list' %}">Voltar</a>
    </div>
    <div class="uk-margin-large-top">
        <h4 class="uk-text-bold">Cadastrar Sobre:</h4>
        <div>
            <form id="aboutCreateForm" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ profile_form.non_field_errors }}
                {% for field in form %}
                    <div class="uk-margin-bottom">
                        <p class="uk-legend field-label">
                            {{ field|add_label_class:"uk-margin-remove-bottom" }}
                            {% if field.field.required %}
                                <span class="mark-required"> *</span>
                            {% endif %}
                        </p>
                        <small>{{ field.help_text }}</small>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                {% for field in profile_form %}
                    <div class="uk-margin-bottom">
                        <p class="uk-legend field-label">
                            {{ field|add_label_class:"uk-margin-remove-bottom" }}
                            {% if field.field.required %}
                                <span class="mark-required"> *</span>
                            {% endif %}
                        </p>
                        <div><small>{{ field.help_text }}</small></div>
                        {{ field | add_class:'uk-input uk-border-rounded uk-margin-small-top' }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="uk-flex uk-flex-right">
                    <button type="submit" class="uk-button uk-border-rounded uk-margin-right btn-submit">Salvar</button>
                </div>
		</form>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
{% endblock extra_js %}
