{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Grid de" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{#{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}#}
{#{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}#}
{#{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "List of" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}#}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-lg-6">
                          <a href="{% url 'website_horatrabalhada_create' %}" class="btn btn-primary">
                                  {% trans "Create new " %} </a>
                        </div>
                        <div class="col-lg-6">
                            <form action="" method="get">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control"
                                           value="{{q}}" placeholder="{% trans 'Search for...' %}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <table id="datatable" class="table table-responsive table-bordered table-hover">
                        {% if object_list %}
                        <thead>
                            <th>ID</th>
                            <th>Hora/Ganho</th>
                            <th>Criado em</th>
                            <th>Modificado em</th>
                            <th>Status</th>
                            <th style="text-align: center">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                          {% block tbody %}
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.price }}</td>
                                    <td>{{ object.created_at }}</td>
                                    <td>{{ object.modified_at }}</td>
                                    <td>{{ object.status }}</td>
                                    <td>
                                        <a href="{% url 'website_horatrabalhada_edit' object.id %}"
                                           class="btn btn-success">{% trans "Edit" %}</a>
                                        <a href="{% url 'website_horatrabalhada_delete' object.id %}"
                                           class="btn btn-danger">{% trans "Delete" %}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                          {% endblock tbody %}
                        </tbody>

                    {% else %}
                      <thead></thead>
                      <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
                    {% endif %}
                    </table>
                    {% if object_list.has_other_pages %}
                      <ul class="pagination">
                        {% if object_list.has_previous %}
                          <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in object_list.paginator.page_range %}
                          {% if object_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if object_list.has_next %}
                          <li><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </div>
                </div>
            <div class="box-footer"></div>
        </div>
    </div>
{% endblock content %}
