{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load crud_tags %}

{% block page_description %}Lista de Peças{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-3 col-md-3" style="float: left">
                                <a href="{% url 'website_pecas_create' %}"
                                   class="btn btn-primary btn-responsive">Criar Nova Peça
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3" style="float: left">
                                <form method="GET">
                                    <input type="submit" name="limpar"
                                           value="{% trans 'Clear' %} {% trans 'Filter' %}"
                                           class="btn btn-default btn-responsive">
                                </form>
                            </div>
                            <form method="GET">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="type_vehicle"
                                               value="C" id="inlineCheckbox2">
                                        <label class="form-check-label" for="inlineCheckbox2">Carro</label>
                                        <input class="form-check-input" type="radio" name="type_vehicle"
                                               value="M" id="inlineCheckbox3">
                                        <label class="form-check-label" for="inlineCheckbox3">Moto</label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3" style="float: left; display: contents;">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control"
                                               value="{{ search }}"
                                               placeholder="{% trans 'Search' %} por ID ou COMÉRCIO">
                                        <span class="input-group-btn">
                                            <button class="btn btn-flat" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body table-responsive">
                    <table id="datatable" class="table">
                        {% if object_list %}
                            <span>Registros..: <strong>{{ count }}</strong></span>
                            <thead>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Veículo</th>
                            <th>Troca</th>
                            <th>Próxima Troca</th>
                            <th>Comércio</th>
                            <th>Total</th>
                            <th style="text-align: center">Ações</th>
                            </thead>
                            <tbody>
                            {% block tbody %}
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.id }}</td>
                                        <td>{{ object.data }}</td>
                                        <td>{{ object.veiculo }}</td>
                                        <td>{{ object.troca }}</td>
                                        <td>{{ object.proxtroca }}</td>
                                        <td>{{ object.comercio.description }}</td>
                                        <td>{{ object.total }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'website_itenspecas_detail' object.id %}"
                                               class="btn btn-primary">{% trans "Items" %}</a>
                                            <a href="{% url 'website_pecas_edit' object.id %}"
                                               class="btn btn-success">{% trans "Edit" %}</a>
                                            <a href="{% url 'website_pecas_delete' object.id %}"
                                               class="btn btn-danger">{% trans "Delete" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock tbody %}
                            </tbody>
                        {% else %}
                            <tbody>
                            <tr><td>Nenhum registro ainda</td></tr>
                            </tbody>
                        {% endif %}
                    </table>
                    {% block pagination %}
                        {% include "includes/pagination.html" %}
                    {% endblock pagination %}
                </div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
{% endblock content %}
